body{
    background: black;
}

#title-bar{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row;
    background-color: #FFA500;
    border-radius: 12px;
    font-family: Roboto;
    font:900;
    padding-inline-start: 8px;
}

#name_logo{
    display: flex;
    flex-direction: row;
    align-items: center;
}

#logo{
    height: 100px;
    margin: 4px;
    padding: 10px;
    background-color: orange;
    border-radius: 25px;
}

.top-bt{
    margin-left: px;
    align-self: center;
    background-color: orange;
    border: none;
    margin-left: 7px;
    margin-right: 7px;
    font-family: Roboto;
    font: 900;
    font-size: xx-large;
    border-radius: 8px;
}

#title-barr{
    display: flex;
    flex-direction: row;
}

#main{
    display: flex;
    flex-direction: column;
    align-items: center;
}

#pi{
    margin-top: 30px;
    height: 500px;
    background-color: orange;
    border-radius: 500px;
}

#main > p{
    color: black;
    font-size: x-large;
    font-family: Roboto;
    max-width: 700px;
    justify-content: center;
}

#rp1{
    display: flex;
    flex-direction: row;
    padding: 12px;
    width: 950px;
}

#soc{
    display: flex;
    flex-direction: row;
    padding: 12px;
    width: 950px;
}

#pcie{
    display: flex;
    flex-direction: row;
    padding: 12px;
    width: 950px;
}

.images{
    width: 350px;
    border-radius: 25px;
    padding: 12px;
}

.text{
    font-size: x-large;
    font-family: Roboto;
    text-align: justify;
    color: whitesmoke;
    border-radius: 8px;
    padding: 4px;
}

.text2{
    font-size: xx-large;
    font-family: Roboto;
    text-align: left;
    color: whitesmoke;
    width: fit-content;
    border-radius: 8px;
    padding: 4px;
}